{% extends 'base.html' %}

{% block content %}
<br>

<body>
<head>

</head>
 <center><h1>New Blog Post</h1></center>

<form method='POST'>
    <label>
    Blog Title:
    <input type="text" name="title" value='{{title}}' />
                <span class='error'>{{title_error}}</span>
</label>
    <br/>

    <label>
    Blog Content:<br>
    <textarea name="content" rows="10" cols="100" ></textarea>
        <span class='error'>{{content_error}}</span>

</label>
    <br>

<input type='submit' value="Add Blog Post" />

</body>

</form>

{% endblock %}